In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('Inferential Statistics - Student Loan.csv')
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN

In [8]:
df= df.drop(['Unnamed: 4', 'Unnamed: 5', 'Customer No.'], axis = 1)

In [9]:
df.head()

   Exposure at Default (in lakh Rs.) Recovery (%)  Probability of Default
0                              11.50       20.00%                  0.0070
1                               0.24        5.10%                  0.0033
2                               0.04       24.86%                  0.0022
3                              13.81        2.29%                  0.0066
4                              19.84        3.47%                  0.0020

**Now, the bank wants to find the total expected loss. This is done by calculating the expected losses for each of the 10,000 customers and then adding them up.**

In [10]:
df.dtypes

Exposure at Default (in lakh Rs.)    float64
Recovery (%)                          object
Probability of Default               float64
dtype: object

In [11]:
# Clean the recovery column and change the datatype to float
df['Recovery (%)'] = df['Recovery (%)'].apply(lambda x: float(x[:-1]))
df['Recovery (%)']

0       20.00
1        5.10
2       24.86
3        2.29
4        3.47
        ...
9995    20.19
9996    38.38
9997    28.40
9998    37.37
9999    22.55
Name: Recovery (%), Length: 10000, dtype: float64

In [13]:
# creating a column for Exposed money using Recovery
df['Exposed Money (%)'] = 100 - df['Recovery (%)']

In [14]:
df.head()

,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Exposed Money (%)
0,11.50,20.00,0.0070,80.00
1,0.24,5.10,0.0033,94.90
2,0.04,24.86,0.0022,75.14
3,13.81,2.29,0.0066,97.71
4,19.84,3.47,0.0020,96.53

In [18]:
# creating a column with expected loss using Exposure at default, Probability of Default and Exposed Money
df['Expected Loss'] = df['Exposure at Default (in lakh Rs.)'] * df['Probability of Default'] * (df['Exposed Money (%)']/100)

In [27]:
x = round(df['Expected Loss'].sum()/100, 2)

In [28]:
print(f'{x} Crore expected loss because of the defaulters')

4.93 Crore expected loss because of the defaulters